/*

Template 2077 Modern Town

http://www.tooplate.com/view/2077-modern-town

*/

/* Body 
------------------------------------- */
body {
		background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

html,body {
      width: 100%;
     overflow-x: hidden;
  }

.post-masonry img {
    width: 100%;
    display: block;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  color: #323232;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

h3 {
  color: #080808;
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
}

h5 {
  color: #080808;
  line-height: 28px;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
}



/* All Section styles
------------------------------------- */
#testimonial, #blog, #counter, #contact {
   	padding-top: 120px;
  	padding-bottom: 120px;
}

#about h3 {
  	padding-bottom: 12px;
}

.parallax-section {
  	background-attachment: fixed !important;
  	background-size: cover !important;
}

.white {
  color: #fff;
}


/* navigation styles
/* ========================================== */
.navbar-default {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
            box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-default li {
  margin: 15px 20px;
}
.navbar-default .navbar-nav li a {
    color: #303030;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
  }
.navbar-default .navbar-nav li a:hover {
    color: #080808;
  }
li.active {
  color: #080808;
  border-bottom: 5px solid #080808;  
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #303030;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #080808;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 12px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #080808;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.mobile-wrapper {
  display: flex;
  justify-content: center;
}

.logo { 
  height: 40px;
}

.logo-top { 
  width: 200px;
  padding-top: 100px;
}


.logo-footer { 
  width: 400px;
  margin: -130px;
  margin-left: -100px;
  margin-top: -160px;
}

/* home section styles
/* ========================================== */
#home {
  background: url('../images/pozadina-b.jpg') 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#home .btn-danger {
  background: #fff;
  margin-right: 20px;
}

#home .btn-danger:hover {
  opacity: 0.5;
  background: #ccc;  
}

#home .btn {
  border-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  opacity: 0.5;
  background: #ccc; 
}

.indiegogo {
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

.ironbull-baner-text {
  font-size: 100px;
  color: #fff;
}

.ironbull-baner-text-black {
  font-size: 80px;
  color: #fff;
}

.ironbull-baner-description {
  margin-top: 0px;
}

.black {
  color: #080808 !important;
}


/* triangle
/* ========================================== */

#triangle {
width: 0;
height:0;
margin: 0 auto;
border-style: solid;
border-width: 250px 950px 0 950px;
border-color: #3e5b3d transparent transparent transparent;
position: relative;
}
#triangle h3 {
    width: 400px;
    height: 150px;
    position: relative;
    top: -170px;
    right: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: #FFF;
        
}

#triangle-bot-txt {
        width: 600px;
        height: auto;
        margin:0 auto;
        color:#3e5b3d;
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
 }


/* scheme
/* ========================================== */


.scheme {
        top: 50px;
        position: relative;
        width:1600px;
        height: 850px;
        margin: 0 auto;
}

#scheme-left {
        width: 149px;
        height: 800px;
        float: left;
        display: block;
}
#s-l-u {
        width: 250px;
        height:50px;
        position: absolute;
        top:140px;
        left: 340px;
        color: #3e5b3d;
        text-align:center;
}
#s-l-d {
        width: 250px;
        height:50px;
        position: absolute;
        top:650px;
        left: 160px;
        color: #3e5b3d;
        text-align:center;
}
#scheme-mid {
        width: 1300px;
        height: 800px;
        background-image: url('../images/explodeweb3.png');
        background-size: cover;
        background-position: center center;
        display: inline-block;
        
}
#scheme-right{
        width: 149px;
        height: 800px;
        float: right;
        display: block;
}
#s-r-u {
        width: 250px;
        height:50px;
        position: absolute;
        top:140px;
        right:340px;
        color: #3e5b3d;
        text-align:center;
}
#s-r-d {
        width: 250px;
        height:50px;
        position: absolute;
        top:430px;
        right:80px;
        color: #3e5b3d;
        text-align:center;
}



/* gameplay section styles
/* ========================================== */
#gameplay {
  background: url('../images/camo-bgd.jpg') 50% 0;
  background-size: cover;
  background-position: center center;
  height: 535px;
  margin-top: 50px;
  display: block;
  position: relative;
}


.gp-hold {
        margin:0 auto;
        width: 1000px;
        height: 500px;
        color: #fff;
        display: block;
        position: relative;
        top: 70px;
}

.gp-txt-hold {
        width: 880px;
        height: auto;
        display: block;
        position: relative;
        margin-left: 80px;
        margin-top: 15px;
        color: #FFF;
        border-left: 2px solid white;
}

.gp-txt-hold p {
        padding: 10px;
}



/* files
/* ========================================== */
#file-hold {
        width: 1200px;
        height: auto;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom:30px;
        display:block;
        position: relative;
}

.files {
        float: left;
        width: 590px;
        height: 530px;
        background-image: url('../images/folder-shema.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.files-exp {
        float: right;
        width: 590px;
        height: 530px;
}
.files-exp h4 {
        padding-top: 20px;
        font-size: 20px;
}

.files-exp h3 {
        font-size: 28px;
}

.files-exp p {
        padding-top: 15px;
        line-height: 2.2;
}



/* contact section styles
/* ========================================== */
#contact {
  background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  margin-top: 600px;
}

#contact .form-control {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#contact input[type="submit"] {
  background: #000000;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: #080808;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#contact .contact-detail {
  background: rgba(250,250,250,0.75);
  padding: 34px 10px 34px 60px;
}

#contact .contact-detail h2 {
  padding-bottom: 28px;
}

#contact .contact-detail div {
  padding-bottom: 10px;
}


/* press section styles
/* ========================================== */
#press {
  background: url('../images/about-img-1.jpg') 50% 0 repeat-y;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#press .wrap {
  max-width: 700px;
  margin: 50px auto;
}

#press .press-text {
  font-size: 24px;
}

#press .press-text b {
  font-size: 28px;
}

#press .btn {
  border-color: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#press .btn-default {
  color: #000;
}

#press .btn:hover {
  opacity: 0.5;
  background: #ccc; 
}

#press .btn-default .fa {
  margin-right: 5px;
  color: #0360fb;
}

/* discover section styles
/* ========================================== */
#discover {
  background: url('../images/tank3.jpg') 50% 0 repeat-y;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#discover .discover-text {
  font-size: 24px;
}

#discover .btn-danger {
  background: #fff;
  margin-right: 20px;
}

#discover .btn-danger:hover {
  opacity: 0.5;
  background: #ccc;  
}

#discover .btn {
  border-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#discover .btn:hover {
  opacity: 0.5;
  background: #ccc; 
}

#discover .wrap {
  max-width: 700px;
  margin: 50px auto;
}

#discover .form-control {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#discover input[type="submit"] {
  background: #000000;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 10px;
}

#discover input[type="submit"]:hover {
  background: #080808;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#discover .contact-detail {
  background: rgba(250,250,250,0.75);
  padding: 34px 10px 34px 60px;
}

#discover .contact-detail h2 {
  padding-bottom: 28px;
}

#discover .contact-detail div {
  padding-bottom: 10px;
}

.form-wrap {
  max-width: 280px;
  margin: auto !important;
}


/* footer section styles
/* ========================================== */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
}

footer p {
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

footer a {
  color: #606060;
}

footer a:hover {
  color: #080808;
  text-decoration: none;
}

.link-list a {
  color: #606060;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  background: #3c3c3c;
  border-radius: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-right: 2px;
}
.social-icon li a:hover {
  background: #080808;
}



@media (max-width: 1280px) {
	#about .about-des {
		padding: 40px;
	}
	#about .about-des h3 {
		font-size: 20px;
	}
	
	#about .about-des h4 {
		font-size: 16px;
	}
	
	#about .about-des p {
		font-size: 13px;
		line-height: 24px;
	}
}
/* mobile responsive section styles
/* ========================================== */
@media (max-width: 768px) {
  h1 {
    font-size: 53px;
  }
  #counter .counter-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #home h5 {
    font-size: 11px;
  }
  #home .btn {
    display: inline-block;
    padding: 14px 32px;
  }

  .ironbull-baner-text {
    font-size: 50px;
  }

  .post-masonry {
    width: 100%;
  }

  #system {
    margin-top: 15rem;
    height: 100vh;
  }

  #discover {
    height: 120vh;
  }

  .mobile-wrapper {
    flex-direction: column;
  }
  
  .logo-top { 
    margin: -120px;
    margin-top: -80px;
  }

  footer {
    text-align: center;
  }

  footer p {
    padding-right: 0px;
  }

  .logo-footer { 
    margin-left: -115px;
  } 

  #gameplay {
    height: 140vh;
  }

  #home {
    background: url('../images/home-bg.jpg') 50%;
    background-position: center !important;
  }
  
  #counter {
    background: url('../images/map.png') 50%;
    background-position: center !important;
  }
  
  #contact {
    background: url('../images/contact-bg.jpg') 50%;
    background-position: center !important;
  }

  #contact .contact-detail {
    padding: 30px 10px 30px 30px;
  }

  .ironbull-baner-text-black {
    font-size: 50px;    
    color: #080808;
  }
    
}

@media (max-width: 375px) {
  h1 {
    font-size: 24px;
    line-height: 34px;
  }
  #home h5 {
    font-size: 9px;
  }
}
